<?xml version="1.0"?>
<model>
  <name>disaster_rubble_field</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>UAV Emergency Rescue Simulation</name>
  </author>
  <description>Static scattered debris field with concrete blocks and pipes.</description>
</model>
