<?xml version="1.0"?>
<model>
  <name>disaster_collapsed_building</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>UAV Emergency Rescue Simulation</name>
  </author>
  <description>Lightweight primitive collapsed-building obstacle for rescue survey simulation.</description>
</model>
